@use 'abstracts' as *;
@use 'sass:map';

.sign-in {
    @include flex-center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: map.get($colors, 'gray-100');

    &__section {
        max-width: px-to-rem(400);
        width: 100%;
        border-radius: $border-radius-lg;
        background-color: $color-background;
        box-shadow: $shadow-xl;
        padding: $spacing-xl;

        // Example of using responsive mixin
        @include respond-to('md') {
            padding: $spacing-xxl;
        }
    }

    &__title {
        font-family: $font-family-heading;
        font-size: px-to-rem(32);
        margin-bottom: $spacing-lg;
        color: map.get($colors, 'gray-900');
        text-align: center;
    }

    &__form {
        width: 100%;
    }

    &__field {
        width: 100%;
        margin-bottom: $spacing-md;
    }

    &__input {
        width: 100%;
    }

    &__actions {
        display: grid;
        gap: $spacing-md;
        margin-top: $spacing-sm;
    }

    &__button {
        width: 100%;
        font-weight: $font-weight-medium;
    }
}
